

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6 col-sm-12">
  <nb-card>
    <nb-card-body style='text-align:center'>
<ngx-user></ngx-user>

    </nb-card-body>
</nb-card>
</div>
</div>

<ng-container *ngIf="(user | async)?.type == 'bank'">
  <ngx-balance></ngx-balance>
<ngx-bank-verifier></ngx-bank-verifier>
</ng-container>
<ng-container *ngIf="(user | async)?.type == 'client'">
<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6 col-sm-12">
<ngx-passport></ngx-passport>

</div>
<div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6 col-sm-12">
<ngx-institutions></ngx-institutions>
</div>
</div>

</ng-container>

<ng-container *ngIf="(user | async)?.type == 'institution'">
</ng-container>

<ng-container *ngIf="(user | async)?.type == 'verifier'">
  <ngx-verifier></ngx-verifier>
</ng-container>

<ngx-create-user *ngIf="(user | async)?.type == 'admin'" ></ngx-create-user>
